[submodule "UniverseLib"]
	path = UniverseLib
	url = https://github.com/yukieiji/UniverseLib
[submodule "UnityCapture"]
	path = UnityCapture
	url = https://github.com/schellingb/UnityCapture.git
[submodule "KlakSpout"]
	path = KlakSpout
	url = https://github.com/keijiro/KlakSpout.git
